:root {
  --transparent: #00000000;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #949494;
  border-radius: 10px;
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

.cover {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.scroll-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cover-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 10%;
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.link-hover::before,
.linkhover::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.link-hover::before {
  background-color: #ffffff;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link-hover::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #ffffff;
}

.link-hover:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.link-hover:hover::after {
  transform: translate3d(0, 0, 0);
}

.social-links {
  transition: 0.3s ease-in-out;
}

.social-links a {
  transition: 0.3s ease-in-out;
}

@for $i from 2 through 10 {
  .social-links a:nth-child(#{$i}n) {
    transition-delay: #{$i * 0.1}s;
  }
}

.employee-nav {
  opacity: 1;
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  min-width: 110%;
  top: 100%;
  background-color: black;
  color: white;
  z-index: 30;
  // max-height: 0;
  overflow: hidden;
  max-height: 200px;
}

.mobile-hidden {
  transition: ease-out 0.2s;
  max-height: 0px;
  overflow: hidden;
}

.employee-nav-mobile {
  transition: ease-in 0.2s;
  max-height: 175px;
}

.category-nav-mobile {
  transition: ease-in 0.2s;
  max-height: 20px;
}

@media (min-width: 720px) {
  .cover-img {
    transform: skewY(100px); /* Smooth transition for the zoom effect */
  }
}

.youtube {
  height: 500px;
  width: 720px;
}
